<table class="highlight responsive-table">
  <thead>
    <tr>
        <th>Nome do Baralho</th>
        <th>Jogo</th>
        <th>Tipo</th>
    </tr>
  </thead>

  <tbody>
    <tr routerLink="cartas/1">
      <td>Baralho 1</td>
      <td>Magic</td>
      <td>Casual</td>
    </tr>
    <tr routerLink="cartas/2">
      <td>Baralho 2</td>
      <td>Magic</td>
      <td>Casual</td>
    </tr>
    <tr routerLink="cartas/3">
      <td>Baralho 3</td>
      <td>Pokemon</td>
      <td>Competitivo</td>
    </tr>
  </tbody>
</table>


