<div class="row">
  <div class="container">
    <h5>Filtrar baralhos por tipo:</h5>
    <span>Tipo Semi-Competitivo listados por padrão</span>

  </div>
  <div class="col s12 m4 right-align">
    <label>
      <input type="checkbox"
      [checked]="competitive"
      (click)="checkBoxClick($event, 'Competitivo')"/>
      <span>Competitivo</span>
    </label>
  </div>
  <div class="col s12 m4 center-align">
    <label>
      <input type="checkbox"
      [checked]="semi"
      (click)="checkBoxClick($event, 'Semi')"/>
      <span>Semi-Competitivo</span>
    </label>
  </div>
  <div class="col s12 m4 left-align">
    <label>
      <input type="checkbox"
      [checked]="casual"
      (click)="checkBoxClick($event, 'Casual')"/>
      <span>Casual</span>
    </label>
  </div>
</div>

<table class="highlight responsive-table">
  <thead>
    <tr>
        <th>Nome do Baralho</th>
        <th>Jogo</th>
        <th>Tipo</th>
    </tr>
  </thead>
<!-- routerLink="cartas/{{this.d.id}}" -->
  <tbody>
    <tr *ngFor="let d of this.decks" (click)="showCards(d)">
      <td>{{this.d.name}}</td>
      <td>{{this.d.game | uppercase}}</td>
      <td>{{this.d.type | titlecase}}</td>
      <td class="right">
        <a><i (click)="onClick(d)" class="material-icons">edit</i></a>
        <a><i (click)="onDelete(d)" class="material-icons">delete</i></a>
      </td>
    </tr>
  </tbody>
</table>


