<table class="highlight responsive-table">
  <thead>
    <tr>
        <th>Nome do Baralho</th>
        <th>Jogo</th>
        <th>Tipo</th>
    </tr>
  </thead>
<!-- routerLink="cartas/{{this.d.id}}" -->
  <tbody>
    <tr *ngFor="let d of this.decks" (click)="showCards(d)">
      <td>{{this.d.name}}</td>
      <td>{{this.d.game | uppercase}}</td>
      <td>{{this.d.type | titlecase}}</td>
      <td class="right">
        <a><i (click)="onClick(d)" class="material-icons">edit</i></a>
        <a><i (click)="onDelete(d)" class="material-icons">delete</i></a>
      </td>
    </tr>
  </tbody>
</table>


