<div class="row">

  <div class="col s6 waves-effect">

    <a routerLink="/adicionar" class="black-text">
      <div class="card-panel center my-card-button orange">
        Adicionar Baralho
      </div>
    </a>

  </div>

  <div class="col s6 waves-effect">
    <a routerLink="../listar" class="black-text">

      <div class="card-panel center my-card-button green">Listar Baralhos</div>

    </a>
  </div>

  <div class="col s3 offset-s6 waves-effect">
    <a class="black-text" [routerLink]="['/listar']" [queryParams]="{tipo:'competitivo'}">

      <div class="card-panel center my-card-button green">Listar Baralhos Competitivos</div>

    </a>
  </div>

  <div class="col s3 waves-effect">
    <a class="black-text" [routerLink]="['/listar']" [queryParams]="{tipo:'casual'}">

      <div class="card-panel center my-card-button green">Listar Baralhos Casuais</div>

    </a>
  </div>

</div>

