<div class="row">
<!-- exemplos de botoes
  <div>
    <div class="card-panel amber center my-card-button">botao teste</div>
    <a class="waves-effect waves-light btn-large orange">Adicionar Baralho</a>
    <a class="waves-effect waves-light btn-large green">Listar Baralhos</a>

  </div> -->

  <div class="col s6 waves-effect">

    <a routerLink="../adicionar" class="black-text">
      <div class="card-panel center my-card-button orange">
        Adicionar Baralho
      </div>
    </a>

  </div>

  <div class="col s6 waves-effect">
    <a routerLink="../listar" class="black-text">

      <div class="card-panel center my-card-button green">Listar Baralhos</div>

    </a>
  </div>

  <div class="col s3 offset-s6 waves-effect">
    <a class="black-text">

      <div class="card-panel center my-card-button green">Listar Baralhos Competitivos</div>

    </a>
  </div>

  <div class="col s3 waves-effect">
    <a class="black-text">

      <div class="card-panel center my-card-button green">Listar Baralhos Casuais</div>

    </a>
  </div>

</div>

